{% extends 'layout/base.twig' %}

{% block content %}

    {%  for fundId in funds %}
        <h2>{{ fundId }} (Last: {{ tickers[fundId]['last'] }})</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th>Buy Fee</th>
                    <th>Buy Total</th>
                    <th>Buy Net</th>
                    <th>Sell Fee</th>
                    <th>Sell Total</th>
                    <th>Sell Net</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                {% for t in trades[fundId] %}

                    <tr>
                        <td>{{ t.getOrderId() }}</td>
                        <td>{{ t.getDate().format('Y-m-d H:i:s') }}</td>
                        <td>{{ t.getAmount() }}  </td>
                        <td>{{ t.getPrice() }}  </td>
                        <td>{{ t.calculateFee() }}</td>
                        <td>{{ t.getPrice() * t.getAmount()   }}</td>
                        <td>{{ t.getPrice() * t.getAmount()  - t.calculateFee() }}</td>

                        <td>{{ t.calculateSellingFee(tickers[fundId]['last']) }}</td>
                        <td>{{ t.calculateSellingValue(tickers[fundId]['last']) }}</td>
                        <td>{{ t.calculateSellingValue(tickers[fundId]['last']) -  t.calculateSellingFee(tickers[fundId]['last'])}}</td>
                        <td>{{ balances[fundId][t.getId()] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td>Total</td>
                <td colspan="10">{{ balanceCalculators[fundId].getFinalBalance() }}</td>
              </tr>
            </tfoot>
        </table>

    {% endfor %}

{% endblock %}